{% extends 'base.html' %}
{% load static %}
{% block main %}
<!--building start-->
<div class="row" style="background-color:#151828;">
    <div class="col-sm-9 mt-5 mx-auto"><span style="color:#ff6900">
            <h5>BUILDING TOMORROW TODAY</h5>
        </span></div>

    <div class="col-sm-9 mt-3 mx-auto"><b style="font-size: 70px;"><span style="color:antiquewhite">Transforming
            </span> <span style="color:#ff6900">Visions</span>&nbsp;<span style="color:white">Into
                <br>Exceptional</span> &nbsp;<span style="color:#ff6900">Strutures</span></b></div>

    <div class="col-sm-9 mx-auto mt-2">
        <h6 style="color:aliceblue">With over 25 years of experience, we deliver innovative construction<br>
            solutions that exceed expections and stand the test of time.</h6>
    </div>
    <div class="col-sm-9  mt-3 mx-auto">
        <button class="btn btn px-4  py-2 mt-2" type="submit" style=" background-color:#ff6900"><span
                style="color:white;">Get Started ></span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline border px-4  py-2 mt-2" type="submit"><span style="color:white;">Our
                Projects ></span></button><br><br>
        <div class="row">
            <div class="col-sm-10  py-4 px-4 my-4 ruhi" style="background-color: #202331;">
                <div class="row">
                    <div class="col-sm-4  text-center"><span style="color:#ff6900">
                            <h2>30+</h2>
                        </span>
                        <span style="color:#f3f4f6">
                            <h6>Years Experience</h6>
                        </span>
                    </div>
                    <div class="col-sm-4  text-center "><span style="color:#ff6900">
                            <h2>250+</h2>
                        </span>
                        <span style="color:#f3f4f6">
                            <h6>Projects Completed</h6>
                        </span>
                    </div>
                    <div class="col-sm-4 text-center"><span style="color:#ff6900">
                            <h2>98%</h2>
                        </span>
                        <span style="color:#f3f4f6">
                            <h6>Client Satisfaction</h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--buliding end-->
<!--constartor image start-->
<div class="row" style="margin-top:100px;">
    <div class="col-sm-1 "></div>
    <div class="col-sm-5"><img src="{% static 'img/construction-worker.jpg' %}" alt="" height="370vh;" width="480vh;">
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-7"><span style="color:#ff6900">
                    <p><b>ABOUT OUR COMPANY</b></p>
                </span></div>
            <div class="col-sm-12" id="priyanka"><b>Building Dreams With&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Excellence & Reliability</b></div>
            <div class="col-sm-12 py-4">

                With decades of industry experience, our team of professional builders and
                architects are dedicated to bringing your vision to life. We handle projects of
                any scale with meticulous attention to detail and unwavering commitment to
                quality.
                <br><br>
                <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Professional team of
                    experienced builders and designers</p>

                <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;High-quality materials
                    sourced from trusted suppliers</p>

                <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;On-time project completion
                    and transparent communication</p>
                <br>
                <button class="btn btn px-4  py-2 mt-2" type="submit" style=" background-color:#ff6900"><span
                        style="color:white;">Learn More About us ></span></button>
            </div>
        </div>
    </div>
</div>
<!--constrator image end-->
<!--platform features start-->
<div class="row py-5" style=" background-color: #17203b">
    <div class="col-sm-3 mx-auto"><span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i> PLATFORM
                FEATURES <i class="fa-solid fa-minus"></i> </span></b>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6 mx-auto"><span style="color:white;">
                <h2><b>Power Tools for Modern Construction</b></h2>
            </span></div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-8 px-2 text-center mx-auto"><span style="color:#999582">
                <p>Our comprehensive suite of features
                    empowers every stakeholder in the construction process with the tools<br> they need to
                    succeed.

                </p>
            </span> </div>
    </div>
    <div class="row">
        <div class="col-sm-11 mx-auto">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 24rem;" data-aos="fade-up" data-aos-duration="1000">

                        <div class="card-body px-4 py-4">
                            <i class="fa-solid fa-3x fa-users" style="color:orange;"></i>
                            <br><br>
                            <h5><b>Project Dashboard
                                </b></h5><br>
                            <p style="font-size:17px;"> Centralized hub for tracking progress, milestones, and
                                resource allocation with intuitive visualizations.
                            </p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Real -time
                                status
                                tracking
                            </p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Task
                                management
                                system</p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Budget
                                monnitoring
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 24rem;" data-aos="fade-up" data-aos-duration="1000">
                        <div class="card-body px-4 py-4">
                            <i class="fa-solid fa-3x fa-users" style="color:orange;"></i>
                            <br><br>
                            <h5><b>Team Collaboration</b></h5><br>
                            <p style="font-size:17px;"> Connect all stakeholders in one platform with
                                powerful
                                communication and file-sharing capabilities.</p>

                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Interactive
                                models</p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Virtual
                                walkthroughs</p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Design
                                revisions in real-time</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 22rem;" data-aos="fade-up" data-aos-duration="1000">

                        <div class="card-body px-4 py-4"><i class="fa-solid fa-3x fa-users" style="color:orange;"></i>
                            <br><br>
                            <h5><b>3D Visualization</b></h5><br>
                            <p style="font-size:17px;"> Experience your construction project in three
                                dimensions
                                before breaking ground</p>

                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Unified
                                messaging system</p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Document
                                sharing & approvals</p>
                            <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Role-based
                                permissions</p>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--platform features end-->
<!--our service start-->
<div class="row my-5">
    <div class="col-sm-10 mt-3  text-center mx-auto"><span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>
                OUR SERVICE
                <i class="fa-solid fa-minus"></i> </span></b><br>
        <div class="col-sm-10 mt-3 text-center mx-auto">
            <h1 style="color:#17203b">Comprehension Construction Solutions</h1>

            <p>We offer a wide range of construction services tailored to meet the unique needs of each project,
                delivered <br>with exceptional craftsmanship and attention to detail.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow pt-3 px-4" style="width: 22rem;" data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="48" height="48"
                                src="https://img.icons8.com/emoji/48/house-emoji.png" alt="house-emoji" />
                        </div>
                    </div>
                    <br>
                    <h4>Residential Construction</h4>
                    <p>From custom homes to multi-family units,<br> we build comfortable, energy-efficient<br>
                        residential spaces designed for modern <br>living.</p><br>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow py-4 px-4" style="width: 22rem;" data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/color/100/building.png" alt="building" />
                        </div>
                    </div>
                    <br>
                    <h4>Commercial Buildings</h4>
                    <p>Office spaces, retail centers, and industrial facilities built to the highest standards
                        of quality and functionality.</p>

                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p><br>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="card shadow py-4 px-4" style="width: 22rem;" data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/external-color-plate-education-vectorslab-flat-vectorslab.png">
                        </div>
                    </div>
                    <br>
                    <h4>Interior Design</h4>
                    <p>Transform your space with our expert interior design services, creating environments that
                        inspire and delight.

                    </p><br>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow pt-3 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4;"><img width="50" height="50"
                                src="https://img.icons8.com/3d-fluency/50/hammer.png" alt="hammer" data-aos="fade-up" data-aos-duration="800"/>
                        </div>
                    </div>
                    <br>
                    <h4>Renovation & Remodeling</h4>
                    <p>Breathe new life into existing structures with our comprehensive renovation and
                        remodeling services.

                    </p><br>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow py-4 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/3d-fluency/50/open-book--v2.png" alt="open-book--v2" />
                        </div>
                    </div>
                    <br>
                    <h4>Architectural Design</h4>
                    <p>Innovative architectural solutions that balance aesthetics, functionality, and
                        sustainability.</p>

                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p><br>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="card shadow py-4 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/external-isometric-vectorslab/68/external-Triangle-Scale-back-to-school-isometric-vectorslab-2.png" />
                        </div>
                    </div>
                    <br>
                    <h4>Construction Management</h4>
                    <p>Expert oversight of your project from concept to completion, ensuring efficiency and
                        quality at every stage.
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our service end-->
<!--our project start-->
<div style=" background-color:#14142b">
    <div class="row  my-5">
        <div class="col-sm-10  mt-5 mx-auto">
            <div class="row">
                <div class="col-sm-10 mt-3">
                    <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>OUR PROJECTS</b></span><br><br>
                    <h1 style="color:white;"><b>Featured Construction Projects</b></h1>
                    <p style="color:#fefefe;">Take a look at some of our most impressive projects, showcasing
                        our commitment to quality,<br> innovation, and excellence in construction.
                    </p>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn px-2  py-2 mt-2" type="submit" style=" background-color:#ff6900"><span
                            style="color:white;">View All Projects ></span></button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-sm-12">
                    <div class="project-container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class=" project-card"
                                    style="background-image:url('static/img/Modern-Office-Complex.jpg');">
                                    <span style="color:#ff6900">Commerical</span>
                                    <h3>Modern Office Complex</h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="project-card"
                                    style="background-image:url('../static/img/Luxury-Residential-Tower.jpg');">
                                    <span style="color:#ff6900">Residential</span>
                                    <h3>Luxury Residential Tower</h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="project-card"
                                    style="background-image: url('../static/img/Modern-Office-Complex.jpg');">
                                    <span style="color:#ff6900">Public</span>
                                    <h3>sustainable Community Center</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-sm-12">
                    <div class="project-container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="project-card"
                                    style="background-image:url('static/img/Industrial-Manufacturing-Hub.jpg') ;">
                                    <span style="color:#ff6900">Industial</span>
                                    <h3>Industrial Manufacturing Hub</h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="project-card"
                                    style="background-image:url('../static/img/Waterfront-Hotel-spa.jpg') ;">
                                    <span style="color:#ff6900">Commerical</span>
                                    <h3>Waterfront Hotel & spa</h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="project-card"
                                    style="background-image: url('../static/img/Urban-Mixed-Use-Development.jpg');">
                                    <span style="color:#ff6900">Commerical</span>
                                    <h3>Urdan Mixed-Use</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our project end-->
<!--our process start-->
<div class="row my-5">
    <div class="col-sm-10  text-center mx-auto">
        <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>
                OUR PROCESS
                <i class="fa-solid fa-minus"></i> </span></b><br>
        <div class="col-sm-12 mt-3 text-center mx-auto">
            <h1 style="color:#17203b">How SmartBulid Hub Works </h1>
            <p>Our innovative platform transforms the construction journey from concept
                to completion through and<br> intuitive digital workflow that connects all stakeholders.
            </p>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card shadow py-4 px-4" style="width: 16rem;"data-aos="fade-up" data-aos-duration="500">
                        <div class="anu py-3 text-center">
                            <i class="fa-solid  fa-2x fa-book-open" style="color:#ff6900"></i>
                            </span>
                        </div>
                        <br>
                        <h5 style="color:#1e2939;">Project Planning</h5>
                        <p style="text-align:left;">Create your vision with our intuitive tools. Define
                            requirements,
                            set budgets, and establish timelines in a collaborative environment.</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow  py-4 px-4" style="width: 15rem;"data-aos="fade-up" data-aos-duration="500">
                        <div class="anu py-3 text-center"><i class="fa-solid fa-2x  fa-layer-group"
                                style="color:#ff6900"></i>
                        </div>
                        <br>
                        <h5 style="color:#1e2939">Team Assembly</h5>
                        <p style="text-align:justify;">Connect with architects, contractors, and suppliers through
                            our
                            verified network to build
                            your ideal construction team.</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card  shadow py-4 px-4" style="width: 15rem;"data-aos="fade-up" data-aos-duration="500">
                        <div class="anu py-3 text-center"><i class="fa-solid fa-2x  fa-shield"
                                style="color:#ff6900"></i>
                        </div>
                        <br>
                        <h5 style="color:#1e2939;">project Execution</h5>
                        <p style="text-align:justify;">Monitor progress in real-time, approve changes instantly, and
                            maintain clear communication throughout construction.</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow py-4 px-4" style="width: 15rem;"data-aos="fade-up" data-aos-duration="500">
                        <div class="anu py-3 text-center"><i class="fa-solid  fa-2x fa-circle-check"
                                style="color:#ff6900"></i>
                        </div>
                        <br>
                        <h5 style="color:#1e2939;">project completion</h5>
                        <p style="text-align:justify;">Receive comprehensive documentation, warranty information,
                            and
                            maintenance schedules for your new construction.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--our process end-->
    <!--our client start-->
    <div class="row mt-5" style="background-color:#f3f4f6;">
        <div class="col-sm-11  text-center mx-auto"><br><br><br>
            <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>
                    TESTIMONIALS
                    <i class="fa-solid fa-minus"></i> </span></b><br><br>
            <h1 style="color:#17203b">What Our Clients Say</h1><br>
            <p>Read testimonials from our satisfied clients who have experienced our dedication to quality,
                reliability, and <br> excellence in construction.
            </p><br><br>
        </div>
        <div class="row">
            <div class="col-sm-11  mx-auto">
                <div class="row  px-5 py-5">
                    <div class="col-sm-4">
                        <div class="card shadow px-5 py-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800"><br>
                            <span style="color:#ff6900"><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                            <br>
                            <p style="text-align:justify;">"Working with this construction team was a fantastic
                                experience. Their attention to detail and commitment to quality exceeded our
                                expectations. They completed our project on time and within budget."
                            </p>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="anushka">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h5>Sarah Johnson</h5>
                                    <small>Peoperty Devolper</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow px-5 py-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800"><br>
                            <span style="color:#ff6900"><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                            <br>
                            <p style="text-align:justify;">"I'm extremely impressed with the professionalism and
                                expertise demonstrated throughout
                                our office building project. The team was responsive, transparent, and delivered
                                exceptional results."
                            </p><br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="anushka">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h5>Michael Thompson</h5>
                                    <small>Businner Owner</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow px-5 py-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="800"><br>
                            <span style="color:#ff6900"><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                            <br>
                            <p style="text-align:justify;">"Our home renovation was handled with such care and
                                precision. The team listened to our needs, offered creative solutions, and
                                transformed
                                our space beyond what we could have imagined."
                            </p><br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="anushka">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h5>Emily Rodriguiguez</h5>
                                    <small>Homeowner</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
    <!--our client end-->
    <!--orange start-->
    <div class="row " style="background-color:#ff6900;">
        <div class="col-sm-11 mx-auto">
            <div class="row mt-3 text-light">
                <div class="col-sm-7 py-5">
                    <h1>Ready to Build Your Dream Project</h1>
                    <p>Let's discuss how we can bring your vision to life with our expertise in <br>construction and
                        design.
                    </p>
                    <button class="btn btn px-4  py-2 mt-2" type="submit" style=" background-color:white"><span
                            style="color:#ff6900;">Get Free Estimate
                            ></span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline border px-4  py-2 mt-2" type="submit"><span
                            style="color:white;">Contact us
                            ></span></button><br><br><br><br>
                </div>
                <div class="col-sm-5 py-5">
                    <div class="row text-center">
                        <div class="col-sm-6 me-4 py-3 px-2 riya"> <i class="fa-solid  fa-2x fa-house"
                                style="color:#f3f4f6"></i><br><span style="color:#f3f4f6">
                                <h3><b>500+</b></h3>
                                <h5>Project Completeted</h5>
                            </span></div>
                        <div class="col-sm-5  py-3 px-2 riya"><i class="fa-solid  fa-2x fa-face-smile"
                                style="color:#f3f4f6"></i>
                            <span style="color:#f3f4f6">
                                <h3><b>120+</b></h3>
                                <h5>Expert Team Member</h5>
                            </span>
                        </div>
                    </div>
                    <div class="row  my-5 text-center">
                        <div class="col-sm-6 me-4 py-4 px-3 riya"> <i class="fa-solid  fa-2x fa-calendar"
                                style="color:#f3f4f6"></i>
                            <br><span style="color:#f3f4f6">
                                <h3><b>25+</b></h3>
                                <h5>Years of Experience</h5>
                            </span>
                        </div>
                        <div class="col-sm-5  py-4 px-3 riya"><i class="fa-solid fa-2x fa-clock"
                                style="color:#f3f4f6"></i>
                            <span style="color:#f3f4f6">
                                <h3><b>98%</b></h3>
                                <h5>On-Time Completion</h5>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--orange end-->
{% endblock %}