{% extends 'base.html' %}
{% load static %}
{% block title %}
project page
{% endblock %}
{% block main %}
<!--service start-->
<div class="row my-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 my-3 mx-auto">
                <div class="radhika"><span style="color:#ff6900">
                        PROFESSIONAL CONSTRUCTION SERVICES</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 py-3 px-4 mx-auto ritika">
                <span style="color:#141b2b"><b>Buliding </b></span><span style="color:#ff6900"><b>Excellence</b></span>
                <span style="color:#141b2b">,<br><b>Crafting</b> </span><span
                    style="color:#ff6900"><b>Dreams</span></b></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6  text-center mx-auto">
                <p> We offer comprehensive construction solutions tailored to your unique<br> needs, delivered with
                    exceptional
                    craftsmanship and attention to every <br>detail.</p>
                <button class="btn btn px-4  py-2 mt-2" type="submit" style=" background-color:#ff6900"><span
                        style="color:white;">Explore Services</span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn border px-4  py-2 mt-2" type="submit" style="background-color:white;"><span
                        style="color:black;">Request a Quote
                    </span></button>
            </div>

        </div>
    </div>
</div>
<!--service end-->
<!--our service start-->
<div class="row" style="background-color:#141b2b ;">
    <div class="col-sm-10 py-5 px-5 mx-auto text-center">
        <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>
                OUR SERVICE
                <i class="fa-solid fa-minus"></i> </span></b><br>
        <div class="col-sm-10 mt-3 text-center mx-auto">
            <h1 style="color:white">Comprehension Construction Solutions</h1>

            <p style="color:aliceblue">We offer a wide range of construction services tailored to meet the unique needs
                of each project,
                delivered <br>with exceptional craftsmanship and attention to detail.
            </p>
        </div>
    </div>
</div>
<div class="row" style=" background-color:#141b2b">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="48" height="48"
                                src="https://img.icons8.com/emoji/48/house-emoji.png" alt="house-emoji" />
                        </div>
                    </div>
                    <br>
                    <h4>Residential Construction</h4>
                    <p>From custom homes to multi-family units,<br> we build comfortable, energy-efficient<br>
                        residential spaces designed for modern <br>living.</p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Custom Home Building
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Multi-Family Housing
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Energy-Efficient Design
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/color/100/building.png" alt="building" />
                        </div>
                    </div>
                    <br>
                    <h4>Commercial Buildings</h4>
                    <p>Office spaces, retail centers, and industrial facilities built to the highest standards
                        of quality and functionality.</p><br>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Office Complexes
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Retail & Hospitality
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Industrial Facilities
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/external-color-plate-education-vectorslab-flat-vectorslab.png">
                        </div>
                    </div>
                    <br>
                    <h4>Interior Design</h4>
                    <p>Transform your space with our expert interior design services, creating environments that
                        inspire and delight.
                    </p><br>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Space Planning
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Custom Furnishing
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Material Selection
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4;"><img width="50" height="50"
                                src="https://img.icons8.com/3d-fluency/50/hammer.png" alt="hammer" />
                        </div>
                    </div>
                    <br>
                    <h4>Renovation & Remodeling</h4>
                    <p>Breathe new life into existing structures with our comprehensive renovation and
                        remodeling services.

                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Kitchen & Bath Remodels
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Historic Renovations
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Commercial Retrofits
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/3d-fluency/50/open-book--v2.png" alt="open-book--v2" />
                        </div>
                    </div>
                    <br>
                    <h4>Architectural Design</h4>
                    <p>Innovative architectural solutions that balance aesthetics, functionality, and
                        sustainability.</p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Concept Development

                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;3D Visualization

                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Sustainable Design

                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow pt-5 px-4" style="width: 22rem;"data-aos="fade-up" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-sm-3 border" style=" background-color:#ffedd4"><img width="50" height="50"
                                src="https://img.icons8.com/external-isometric-vectorslab/68/external-Triangle-Scale-back-to-school-isometric-vectorslab-2.png" />
                        </div>
                    </div>
                    <br>
                    <h4>Construction Management</h4>
                    <p>Expert oversight of your project from concept to completion, ensuring efficiency and
                        quality at every stage.
                    </p>

                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Project Planning
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;&nbsp;Budget Management
                    </p>
                    <p><i class="fa-solid fa-check" style="color:#ff6900"></i>&nbsp;&nbsp;Quality Control
                    </p>
                    <p style="color:#ff6900"> learn More <i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Feature service start-->
<div class="row my-5">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-6">
                <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>FEATURED SERVICE</b></span><br>
                <h1 style="color:#141b2b;"><b>Sustainedle Building Practices</b></h1><br>
                <p style="color:#141b2b;">
                    We're committed to environmentally responsible construction. Our <br>sustainable building
                    practices incorporate the latest green technologies and<br> materials to minimize environmental
                    impact while maximizing energy <br>efficiency and occupant comfort
                </p>
                <div class="row mt-3">
                    <div class="col-sm-3 ps-1 py-2 free">
                        <i class="fa-regular fa-sun fa-2x" style="color:#ff6900"></i>
                    </div>
                    <div class="col-sm-9">

                        <b style="color:#141b2b">Energy-Efficient</b>
                        <p>Solar integration and passive design strategies</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3  ps-1 py-2 free">
                        <i class="fa-solid fa-droplet fa-2x" style="color:#ff6900;"></i>
                    </div>
                    <div class="col-sm-9">
                        <b style="color:#141b2b">Water Conservation</b>
                        <p>Rainwater harvesting and low-flow fixtures
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3  ps-1 py-2 free">
                        <i class="fa-solid fa-recycle  fa-2x" style="color:#ff6900"></i>
                    </div>
                    <div class="col-sm-9">
                        <b style="color:#141b2b">Recycled Materials
                        </b>
                        <p>Responsibly sourced and eco-friendly building materials
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn w-100" style="background-color: #ff6900;"><span
                                style="color:#f3f4f6"><b>Learn About Our Green Initiatives &nbsp;&nbsp;<i
                                        class="fa-solid fa-arrow-right"></i></b></span></button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 py-5 px-5">
                <img src="{% static 'img/Sustainable-Community-Center.jpg' %}" alt=""
                    style="height:400px;  width:550px;"data-aos="zoom-out-down">
            </div>
        </div>
    </div>
</div>
<!-- feature service end-->
<!--our process start-->
<div class="row">
    <div class="col-sm-10 text-center mx-auto  mt-3">
        <span style="color:#ff6900"><b><i class="fa-solid fa-minus"></i>OUR PROJECTS</b></span><br><br>
        <h1 style="color:#141b2b"><b>How We Bring Your Vision to Life</b></h1>
        <p style="color:#141b2b">We follow a proven methodology to ensure your project is completed on time, within
            budget,and exceeds<br> your expectations.
        </p>
    </div>

</div>
<div class="row  my-5">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-3  ms-5 py-5 px-5 shadow cup"data-aos-duration="1000">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="cir py-3 ps-2">
                            <i class="fa-solid fa-mug-hot fa-2x" style="color:#ff6900"></i>
                        </div>
                    </div>
                    <h3 style="text-align: center;">Consulation</h3>
                    <p style="text-align: justify;">We discuss your vision, requirements, and expectations to establish
                        project scope.</p>
                </div>
            </div>
            <div class="col-sm-3   px-4 ms-5 py-5  shadow cup"data-aos-duration="1000">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="cir py-3 ps-2">
                            <i class="fa-regular fa-pen-to-square fa-2x" style="color:#ff6900"></i>
                        </div>
                    </div>
                    <h3 style="text-align:center">Design & Planning</h3>
                    <p style="text-align: justify;">Our architects and designers create detailed plans based on your
                        requirements.

                    </p>
                </div>
            </div>
            <div class="col-sm-3  ms-5 py-5 px-5 shadow cup"data-aos-duration="1000">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="cir py-3 ps-2">
                            <i class="fa-solid fa-spoon fa-2x" style="color:#ff6900"></i>
                        </div>
                    </div>
                    <h3 style="text-align: center;">Construction</h3>
                    <p style="text-align: justify;">Our skilled teams execute the project with precision and quality
                        craftsmanship.</p>
                </div>
            </div>
            <div class="col-sm-3  ms-5 py-5 px-5 shadow cup"data-aos-duration="1000">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="cir py-3 ps-2">
                            <i class="fa-solid fa-circle-check fa-2x" style="color:#ff6900"></i>
                        </div>
                    </div>
                    <h3 style="text-align: center;">Completion</h3>
                    <p style="text-align: justify;">Final inspections ensure everything meets our high standards before
                        handover.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our process end-->
<!--our service end-->
{% endblock %}