{% extends 'base.html' %}
{% load static %}
{% block title %}
login us
{% endblock %}
{% block main %}
<!--service start-->
<div class="row" style="background-color: #0d0d1f;">
    <div class="col-sm-12">
        <div class="row mt-5">
            <div class="col-sm-10 my-5 mx-auto">
                <span style="color: #ff6900;"> <i class="fa-solid fa-minus"></i>EXCELLENCE IN CONSTRUCTION</span>
                <div class="ruchi">
                    <span style="color:aliceblue"><b>Our Featured Projects</span>
                </div>
                </b><span style="color:aliceblue">
                    <p>Browse our portfolio of exceptional construction projects spanning commercial, residential,
                        and <br>public sectors. Each project reflects our commitment to quality and innovation.</p>
                </span>
                <div class="row my-5">
                    <div class="col-sm-3  text-center  py-4  box "><span style="color:#ff6900"><h2><b>250+</b></h2></span>
                    <p style="color:aliceblue">Projects Completed</p></div>
                    <div class="col-sm-3  text-center  py-4  box "><span style="color:#ff6900"><h2><b>30+</b></h2></span>
                    <p style="color:aliceblue">Years Experience</p></div>
                    <div class="col-sm-3  text-center  py-4  box "><span style="color:#ff6900"><h2><b>120+</b></h2></span>
                    <p style="color:aliceblue">Export Team Members</p></div>
                    <div class="col-sm-3  text-center  py-4  box "><span style="color:#ff6900"><h2><b>98%</b></h2></span>
                    <p style="color:aliceblue">Client Satisfaction</p></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--service end-->
<!--image start-->
<div class="row" style=" background-color:#1e2838">
    <div class="col-sm-11 mx-auto">
        <div class="project-container">
            <div class="row mt-5">
                <div class="col-sm-4">
                    <div class="project-card" style="background-image:url('../static/img/Modern-Office-Complex.jpg');">
                        <span style="color:#ff6900">Commerical</span>
                        <h3>Modern Office Complex</h3>
                        <small>A contemporary office space designed for maximum productivity and employee
                            wellbeing.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="project-card"
                        style="background-image:url('../static/img/Luxury-Residential-Tower.jpg');">
                        <span style="color:#ff6900">Residential</span>
                        <h3>Luxury Residential Tower</h3>
                        <small>Premium living spaces with state-of-the-art amenities and stunning city views.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="project-card" style="background-image: url('../static/img/Modern-Office-Complex.jpg');">
                        <span style="color:#ff6900">Public</span>
                        <h3>sustainable Community Center</h3>
                        <small>Eco-friendly architecture designed to bring communities together.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-4">
                    <div class="project-card"
                        style="background-image:url('../static/img/Industrial-Manufacturing-Hub.jpg');">
                        <span style="color:#ff6900">Industial</span>
                        <h3>Industrial Manufacturing Hub</h3>
                        <small>Cutting-edge industrial facilities designed for optimal workflow and efficiency.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="project-card" style="background-image:url('../static/img/Waterfront-Hotel-spa.jpg') ;">
                        <span style="color:#ff6900">Commerical</span>
                        <h3>Waterfront Hotel & spa</h3>
                        <small>Luxury hospitality project featuring elegant design and premium guest
                            experiences.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="project-card"
                        style="background-image: url('../static/img/Urban-Mixed-Use-Development.jpg');">
                        <span style="color:#ff6900">Commerical</span>
                        <h3>Urdan Mixed-Use</h3>
                        <small>Integrated commercial and residential spaces designed for modern urban living.</small>
                        <h5>View project<i class="fa-solid fa-arrow-right"></i></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--image end-->
<!--get in start-->
<div class="row" style="background-color:#0d0d1f">
    <div class="col-sm-12">
        <div class="row py-5 px-5">
            <div class="col-sm-12  text-light text-center">
                <h2> Ready to Bulid Your Dream Project</h2><br>
                <p>Let's discuss how our expertise can bring your vision to life. Contact our team today.</p>
                <button class="btn btn mt-2 py-3 px-5" type="submit" style=" background-color:#ff6900"><span
                        style="color:white;">Get
                        In Touch</span></button>

            </div>
        </div>
    </div>
</div>
<!--get in end-->
{% endblock %}