{% extends 'homeownerbase.html' %}
{% load static %}
{% block homeowner %}
<div id="body">
    <div class="row" id="body">
        <div class="col-sm-5 mx-auto  px-5 border pen ">
            <form method="post">
                {% csrf_token %}
                <br><br><br>
                <h2 style="color: #1e2939"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Password</h2><br>
                <div class="form-floating mb-3">
                    <input type="password" name="oldpwd" class="form-control" id="oldpwd" required
                        placeholder="Password">
                    <label for="oldpwd"> Old Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="newpwd" class="form-control" id="newpwd" required
                        placeholder="Password">
                    <label for="newpwd"> New Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="confirmpwd" class="form-control" id="confirmpwd" required
                        placeholder="Password">
                    <label for="confirmpwd"> Confirm Password</label>
                </div>
                <a href="">
                    <button class="btn btn px-4 w-100  py-2 mt-2" type="submit" style=" background-color:#1e2939"><span
                            style="color:white;">Update
                            Password</span></button>
                </a>
                <br><br>
            </form>
        </div>
    </div>
</div>














{% endblock %}