{% extends 'contractorbase.html' %}
{% block contractor %}
{% load static %}
<h1 style="font-family:'Algerian', serif; color:rgb(15, 83, 61)">Constractor dashboard</h1>
<div class="row">
    <div class="col-sm-12 ">
            <div class="card shadow  py-4 px-4">
            <div class="row">
                <div class="col-sm-10">
                    <h2 style="font-family:'Algerian', serif; color:rgb(15, 83, 61)">Sales Summary</h2><br>
                </div>
                <div class="col-sm-2 px-3" style="color:rgb(8, 8, 100)"> <button type="submit" class="btn btn-outline"
                        style="background-color:rgb(207, 245, 245)">Export</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card shadow circle py-4 px-3" style="background-color: rgb(167, 159, 160);">
                        <h5 style="color:rgb(15, 83, 61)">Projects</h5>
                        <p> 12</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow py-4 px-3" style="background-color: rgb(199, 190, 192);" id="circle">
                        <h5 style="color:rgb(15, 83, 61)">View Projects</h5>
                        <p>+5</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow py-4 px-3" style="background-color: rgb(185, 172, 185);">
                        <h5 style="color:rgb(15, 83, 61)">Running Projects</h5>
                        <p>3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow py-4 px-3" style="background-color: rgb(201, 219, 207);">
                        <h5 style="color:rgb(15, 83, 61)">Completed Projects</h5>
                        <p>9</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}