{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
<div class="row py-3" style="background-color: #192333;">
    <div class="col-sm-11  py-3 px-3 mx-auto">
        <div class="card  px-5 py-5 shadow" style="border-radius:50px;">
            <div class="row ">
                <!--important information start-->
                <div class="col-sm-6 px-5  shadow py-3" style="background-color: antiquewhite;">

                    <h2 style="color:rgb(30, 77, 119)"><b>Welcome to the Admin</b></h2>
                    <h5>&nbsp;&nbsp;&nbsp;Please enter your details</h5>
                    <hr>
                    <h4 style="color:rgb(212, 23, 55)"> Important Point</h4>
                    <h5 style="color:#1e2939"><b> <img width="20" height="20"
                                src="https://img.icons8.com/ios/50/lock.png" alt="lock" />
                            Choose a Strong password</b></h5>
                    <p style="text-align:justify;"><img width="10" height="10"
                            src="https://img.icons8.com/forma-bold-filled/24/circled.png" alt="circled" /> Use
                        a mix of <u><b>uppercase, lowercase letters, numbers, and
                                special
                                characters.</b></u>
                    </p>
                    <h5> <b><img width="20" height="20" src="https://img.icons8.com/ios/50/lock.png"
                                alt="lock" />&nbsp;Enable
                            Two-Factor Authentiction(2FA)</b></h5>
                    <p style="text-align: center;"><img width="10" height="10"
                            src="https://img.icons8.com/forma-bold-filled/24/circled.png" alt="circled" /> Always turn
                        on 2FA whereven available(likeOTP via SMS or authenticator )
                    </p>
                    <h5> <b><img width="20" height="20" src="https://img.icons8.com/ios/50/lock.png"
                                alt="lock" />&nbsp;Never
                            Share Your Password</b></h5>
                    <p style="text-align: left;"><img width="10" height="10"
                            src="https://img.icons8.com/forma-bold-filled/24/circled.png" alt="circled" />&nbsp;&nbsp;Do
                        not share
                        your password with anyone,including friends or<b>"support staff.</b>"
                    </p>
                </div>
                <!--import information end-->
                <!--form start-->
                <div class="col-sm-6 px-5 text-center py-1">
                    <form method="post">
                        {% csrf_token %}
                        <img src="{% static 'img/img.png' %}" height="80px;" width="80px;">
                        <h2 style="color: #192333;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Password</h2><br>
                        
                        <div class="form-floating mb-3">
                            <input type="password" name="oldpwd" class="form-control" id="oldpwd" required
                                placeholder="Password">
                            <label for="oldpwd"> Old Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="newpwd" class="form-control" id="newpwd" required
                                placeholder="Password">
                            <label for="newpwd"> New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="confirmpwd" class="form-control" id="confirmpwd" required
                                placeholder="Password">
                            <label for="confirmpwd"> Confirm Password</label>
                        </div>
                        <a href="">
                            <button class="btn btn px-4 w-100  py-2 mt-2" type="submit"
                                style=" background-color:#1e2939"><span style="color:white;">Update
                                    Password</span></button>
                        </a>
                        </form>
                </div>
            <!--form end-->
            </div>
        </div>
    </div>
</div>
{% endblock %}